/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FONT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Paragraphe */ @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
/* Titre */ @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* Sous-titre */ @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ VARIABLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root {
    --header-height: 3rem;

    /* ~~~~~~~~~~~~ couleurs ~~~~~~~~~~~~~~~ */
    --light-background-color: #FFFFFF;
    --dark-background-color: #072227;
    --first-color: #AEFEFF;
    --second-color: #4FBDBA;
    --third-color: #35858B;
    --fourth-color: #072227;
    --text-white: #fff;
    --text-color-light: #072227;
    --text-color-dark: #AEFEFF;

    /* ~~~~~~~~~~~~ police ~~~~~~~~~~~~~~~ */
    --paragraphe-font: 'Nunito', sans-serif;
    --title-font: 'Lora', serif;
    --subtitle-font: 'Libre Baskerville', serif;

    /* ~~~~~~~~~~~~ font-size ~~~~~~~~~~~~~~~ */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ~~~~~~~~~~~~ Margin Botton ~~~~~~~~~~~~~~~ */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ~~~~~~~~~~~~ z-index ~~~~~~~~~~~~~~~ */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* ~~~~~~~~~~~~ font-size pour PC ~~~~~~~~~~~~~~~ */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BASES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--paragraphe-font);
    font-size: var(--normal-font-size);
    background-color: var(--light-background-color);
    color: var(--text-color-light);
}

h1, h2 {
    font-family: var(--title-font);
    margin-bottom: var(--mb-0-25);
}
h3, h4 {
    font-family: var(--subtitle-font);
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
    /* color: var(--text-color-light); */
}

a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 3rem;
}

.section_title, .section_subtitle {
    text-align: center;
}

.container {
    max-width: 768px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--second-color);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo, .nav_toggle {
    color: var(--text-white);
    font-weight: bold; /* à définir en variable */
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav_toggle:hover {
    color: var(--first-color);
}

.nav_list {
    grid-template-columns: repeat(3, 1fr); /* à retirer si je le veux en ligne */
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-white);
    font-weight: 700;
}

.nav_link:hover {
    color: var(--first-color);
}

.nav_icon {
    font-size: 1.2rem;
}

.nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-white);
}

.nav_close:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--second-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Affichage du Menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.show-menu {
    bottom: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ACCUEIL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home_container {
    gap: 1rem;
}

.home_content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social-icon {
    font-size: 2rem;
    color: var(--second-color);
}

.home_social-icon:hover {
    color: var(--third-color);
}

.home_blob {
    width: 200px;
    fill: var(--second-color);
}

.home_blob-img {
    width: 170px;
}

.home_data {
    grid-column: 1/3;
}

.home_title {
    font-size: var(--big-font-size);
    text-align: center;
}

.home_subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color-light);
    font-weight: lighter;
    margin-bottom: var(--mb-0-75);
    text-align: center;
}

.home_description {
    margin-bottom: var(--mb-2);
    text-align: center;
}

.home_scroll {
    display: none;
}

.home_scroll-button {
    color: var(--fourth-color);
    transition: .3s;
}

.home_scroll-button:hover {
    transform: translateY(1rem);
}

.home_scroll-mouse {
    font-size: 2rem;
}

.home_scroll-name {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    font-weight: 600;
    margin-right: var(--mb-0-25);
}

.home_scroll-arrow {
    font-size: 1.25rem;
}

/* ~~~~~~~~~~~~ buttons ~~~~~~~~~~~~~~~ */
.button {
    display: inline-block;
    background-color: var(--second-color);
    color: #FFFFFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 600;
}

.button:hover {
    background-color: var(--third-color);
}

.button_icon {
    font-size: 1rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: #FFFFFF;
}

.button--link:hover {
    background-color: transparent;
    color: var(--fourth-color);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ A PROPOS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#a-propos {
    margin-top: 5rem;
}

.about_img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about_description {
    text-align: justify;
    margin-bottom: var(--mb-2-5);
}

.about_info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_info-title {
    font-size: var(--h2-font-size);
    font-weight: 700;
    color: var(--text-color-light);
}

.about_info-name {
    font-size: var(--smaller-font-size);
}

.about_info-title, .about_info-name {
    display: block;
    text-align: center;
}

.about_buttons {
    display: flex;
    justify-content: center;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PARCOURS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.parcours_tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.parcours_button {
    font-size: var(--h3-font-size);
    font-weight: 600;
    cursor: pointer;
}

.parcours_icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-5);
}

.parcours_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.parcours_title {
    font-size: var(--normal-font-size);
    font-weight: 600;
}

.parcours_subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.parcours_calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.parcours_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--second-color);
    border-radius: 50%;
}

.parcours_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--second-color);
    transform: translate(6px, -7px);
}

/* .parcours_button.parcours_active {
    color: var(--second-color);
} ne marche  pas ... */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COMPETENCES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.skills_container {
    row-gap: 0;
}

.skills_header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2);
    cursor: pointer;
}

.skills_icon, .skills_arrow {
    font-size: 2rem;
    color: var(--text-color-light);
}

.skills_icon {
    margin-right: var(--mb-0-75);
}

.skills_title {
    font-size: var(--h3-font-size);
}

.skills_subtitle {
    font-size: var(--small-font-size);
    color: var(--third-color);
}

.skills_arrow {
    margin-left: auto;
    transition: .4s;
}

.skills_list {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills_titles {
    display: flex;
    justify-content: space-between;
}

.skills_name {
    font-size: var(--normal-font-size);
    font-weight: 600;
}

.skills_bar, .skills_percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills_bar {
    background-color: var(--first-color);
}

.skills_percentage {
    display: block;
    background-color: var(--third-color);
}

.skills_word {
    width: 95%;
}

.skills_html, .skills_canva, .skills_instagram, .skills_facebook {
    width: 90%;
}

.skills_css, .skills_php, .skills_figma, .skills_anglais, .skills_powerpoint {
    width: 80%;
}

.skills_bts, .skills_mysql, .skills_photoshop, .skills_twitter {
    width: 70%;
}

.skills_js, .skills_symfony, .skills_excel {
    width: 60%;
}

.skills_illustrator, .skills_indesign, .skills_allemand, .skills_espagnol, .skills_tiktok {
    width: 50%;
}

.skills_close .skills_list {
    height: 0;
    overflow: hidden;
}

.skills_open .skills_list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills_open .skills_arrow {
    transform: rotate(-180deg);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DANSE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.danse_container {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.danse-content {
    position: relative;
    background-color: var(--second-color);
    padding: .1rem .1rem .1rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
}

.danse-content:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.danse_icon {
    display: block;
    font-size: 1.5rem;
    color: var(--fourth-color);
    margin-bottom: var(--mb-1);
}

.danse-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
    font-weight: 500;
    color: #FFFFFF;
    padding-left: .7rem;
}

.danse_button {
    cursor: pointer;
    font-size: var(--small-font-size);
    padding-left: .7rem;
    padding-bottom: .7rem;
    text-align: end;
}

.danse_button:hover .button_icon {
    transform: translateX(.25rem);
}

.danse_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden; 
    transition: .3s;
}

.danse_modal-content {
    position: relative;
    background-color: var(--third-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.danse_modal-service {
    display: flex;
    color: #FFFFFF;
    text-align: justify;
}

.danse_modal-title {
    font-size: var(--h3-font-size);
    font-weight: 500;
    margin-bottom: var(--mb-1-5);
    margin-right: var(--mb-2);
    color: white;
}

.danse-modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
}

.active-modal {
    opacity: 1;
    visibility: visible;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ WEBSITES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.websites_container {
    overflow: initial;
}

.websites_content {
    padding: 0 1.5rem;
}

.websites_img {
    height: 463px;
    border-radius: .5rem;
    justify-self: center;
    box-shadow: 0 8px 18px rgba(0,0,0,.15);
}

.websites_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.websites_description {
    margin-bottom: var(--mb-0-75);
    text-align: justify;
}

.websites_button:hover .button_icon {
    transform: translateX(.25rem);
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: '' !important;
}

.swiper-websites-icon {
    font-size: 2rem;
    color: var(--second-color);
}

.swiper-button-prev {
    left: -.5rem;
}

.swiper-button-next {
    right: -.5rem;
}

.swiper-pagination {
    position: relative !important;
}

.swiper-horizontal > .swiper-pagination-bullets {
    bottom: 0 !important;
}

.websites_button {
    margin-bottom: var(--mb-1);
}

.swiper-pagination-bullet-active {
    background: var(--second-color) !important;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet {
    outline: none;
}

.websites_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contact_container {
    row-gap: 3rem;
}

.contact_information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon {
    font-size: 2rem;
    color: var(--second-color);
    margin-right: var(--mb-0-75);
}

.contact_title {
    font-size: var(--h3-font-size);
    font-weight: 600;
}

.contact_subtitle {
    font-size: var(--small-font-size);
}

.contact_content {
    background-color: lightgrey;
    border-radius: .5rem;
    padding: .75rem 1rem.25rem;
}

.contact_label {
    font-size: var(--smaller-font-size);
}

.contact_input {
    width: 100%;
    background-color: lightgrey;
    color: var(--text-color-light);
    font-family: var(--paragraphe-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.alert-success {
    z-index: 1000;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 350px;
    position: fixed;
    right: 1rem;
    top: calc(var(--header-height) + 2rem);
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
}
  
.alert-error {
    z-index: 1000;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 350px;
    position: fixed;
    right: 1rem;
    top: calc(var(--header-height) + 2rem);
    border-left: 8px solid #FFA502;
    border-radius: 4px;
}

.popup_icon {
    margin-left: 5rem;
    font-size: 1.5rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
    padding-top: 2rem;
}

.footer_container {
    row-gap: 3.5rem;
}

.footer_bg {
    background-color: var(--second-color);
    padding: 2rem 0 3rem;
}

.footer_title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
    font-size: var(--small-font-size);
}

.footer_links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer_link:hover {
    color: var(--fourth-color);
}

.footer_social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer_social:hover {
    color: var(--fourth-color);
}

.footer_copy {
    font-size: var(--smaller-font-size);
    color: #fff;
    text-align: center;
    margin-top: var(--mb-3);
}

.footer_title, .footer_subtitle, .footer_link, .footer_social {
    color: #fff;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SCROLL-UP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--third-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--fourth-color);
}

.scrollup_icon {
    font-size: 1.5rem;
    color: #FFFFFF
}

.show-scroll {
    bottom: 5rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TELEPHONE FIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width : 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav_menu {
        padding: 2rem .25rem 4rem;
    }
    .nav_list {
        column-gap: 0;
    }
    .home_content {
        grid-template-columns: .25fr 3fr;
    }
    .home_blob {
        width: 180px;
    }
    .skills_title {
        font-size: var(--normal-font-size);
    }
    .parcours_data {
        gap: .5rem;
    }
    .danse_container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .danse_container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .danse_modal {
        padding: 0 .5rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TABLETTE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 568px) {
    .home_content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .home_data {
        grid-column: initial;
    }
    .home_img {
        order: 1;
        justify-content: center;
    }
    .about_container, .skills_container, .websites_content, .contact_container, .footer_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .parcours_sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
    .websites_description {
        margin-right: 2rem;
    }
    .websites_content {
        align-items: center;
    }
    .danse_modal-content {
        width: 450px;
    }
    .card-img-height {
        height: 80%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .section_subtitle {
        margin-bottom: 4rem;
    }
    .header {
        top: 0;
        bottom: initial;
    }
    .header, .main, .footer_container {
        padding: 0 1rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav_icon, .nav_close, .nav_toggle {
        display: none;
    }
    .nav_list {
        display: flex;
        column-gap: 2rem;
    }
    .nav_menu {
        margin-left: auto;
    }
    /* .change-theme {
            margin: 0
        }*/
    .home_container {
        row-gap: 5rem;
    }
    .home_content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home_blob {
        width: 270px;
    }
    .home_scroll {
        display: block;
    }
    .home_scroll-button {
        margin-left: 3rem;
    }
    .about_container {
        column-gap: 5rem;
    }
    .about_img {
        width: 350px;
    }
    .about_info {
        justify-content: space-between;
    }
    .about_buttons {
        justify-content: initial;
    }
    .parcours_tabs {
        justify-content: center;
    }
    .parcours_button {
        margin: 0 var(--mb-2-5);
    }
    .parcours_sections {
        grid-template-columns: .5fr;
    }
    .skills_container {
        column-gap: 5rem;
    }
    .danse_container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .card-img-height {
        height: 78%;
    }
    .websites_img {
        height: 514px;
    }
    .footer_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer_bg {
        padding: 3rem 0 3.5rem;
    }
    .footer_links {
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer_socials {
        justify-self: flex-end;
    }
    .footer_copy {
        margin-top: 4.5rem;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PC ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (min-width: 1024px) {
    .header, .main, .footer_container {
        padding: 0;
    }
    .home_blob {
        width: 320px;
    }
    .home_social {
        transform: translateX(-6rem);
    }
    .websites_content {
        column-gap: 4rem;
    }
    .swiper-websites-icon {
        font-size: 3.5rem;
    }
    /*.swiper-button-prev {
        left: -1.5rem;
    } 
    .swiper-button-next {
        right: -1.5rem;
    } ne marche pas */
    .websites_img {
        margin-bottom: 3rem;
        margin-left: 3rem;
    }
    .websites_description {
        margin-right: 4rem;
    }
    .danse-content {
        width: 300px;
    }
    .card-img-height {
        height: 82%;
    }
    .contact_form {
        width: 420px;
    }
    .contact_inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}